.card-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
    & .card-wrapper {
        display: flex;
        flex-direction: column;
        padding: 16px;
        min-height: 300px;
        background-color: var(--color-pure-white);
        border-radius: 6px;
        & .card-header .post-title,
        & .card-body .post-content {
            &::first-letter {
                text-transform: capitalize;
            }
        }
        & .card-header {
            & .delete-wrapper {
                display: flex;
                justify-content: end;
                margin-bottom: 10px;
                & .icon {
                    font-size: 18px;
                    color: #E06666;
                    padding: 8px;
                }
            }
            & .post-title {
                @mixin style-font-poppins 600, 22px;
                color: var(--color-dark-grey);
                margin: 0 0 20px 0;
            }
        }
        & .card-body {
            & .post-content {
                @mixin style-font-poppins 400, 14px;
                color: var(--color-dark-grey);
            }
        }
        & .card-footer {
            margin-top: auto;
            & .button-wrapper {
                display: flex;
                justify-content: end;
                & .card-cta-comments {
                    @mixin main-button;
                    margin-right: 10px
                }
                & .card-cta-edit {
                    @mixin main-button;
                    background-color: var(--color-orange);
                }
            }
        }
    }

    /* COMMENTS START */
    & .comments-container {
        padding: 18px;
        height: auto;
        width: auto;
        background: var(--color-light-grey);
        &.mobile-variation {
            position: fixed;
            height: 100%;
            top: 0;
            left: 0;
        }
        & .comments-mobile-header {
            text-align: end;
            margin-bottom: 15px;
            & .icon {
                font-size: 26px;
                cursor: pointer;
            }
        }
        & .comment {
            overflow: auto;
            height: 85%;
        }
        & .comment-wrapper {
            border-radius: 6px;
            border: none;
            background-color: var(--color-pure-white);
            padding: 12px 24px;
            margin-bottom: 16px;
            &:last-child {
                margin-bottom: 0;
            }
            & .comment-name {
                @mixin style-font-poppins 600, 14px;
                &::first-letter {
                    text-transform: uppercase;
                }
            }
            & .comment-text {
                @mixin style-font-poppins 400, 14px;
                margin: 12px 0;
            }
            & .comment-footer {
                display: flex;
                justify-content: end;
                & .comment-email {
                    display: flex;
                    align-items: center;
                    @mixin style-font-poppins 400, 12px;
                    & .icon {
                        margin-right: 10px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
