.drawer-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    &.show {
        visibility: visible;
        opacity: 1;
    }
}

.form-container {

}
.drawer-wrapper {
    position: fixed;
    width: 90%;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    & .form-container {
        padding: 20px;
        border-radius: 5px;
        position: relative;
        transition: all 5s ease-in-out;
        background-color: var(--color-light-grey);
        & .post-form {
            & .field-wrapper {
                display: flex;
                flex-direction: column;
                margin-bottom: 16px;
                & .form-text {
                    @mixin  style-font-poppins 600, 18px;
                    background: none;
                }
                & .form-text-input,
                & .form-title-input {
                    margin-bottom: 6px;
                    padding: 16px;
                }
                & .form-text-input {
                    min-height: 300px;
                }
                & .error-message {
                    @mixin  style-font-poppins 400, 11px, 10px;
                    color: red;
                    margin: 0;
                }
            }
        }
    }
}
