/* Media queris */
@custom-media --tablet (min-width: 768px);

/* Colors */
:root {
    --color-pure-white: #ffffff;
    --color-light-grey: #f5f5f5;
    --color-dark-grey: #7e7e7e;
    --color-grey: #63666a;
    --color-dark-blue: #103551;
    --color-blue: #2986cc;
    --color-orange: #F6B26B;
    --color-black: #292929;
}