/* Media queris */
@custom-media --tablet (min-width: 768px);

/* Colors */
:root {
    --color-pure-white: #ffffff;
    --color-light-grey: #D6D6D6;
    --color-dark-grey: #2a2a2a;
    --color-dark-blue: #103551;
    --color-blue: #2986cc;
    --color-orange: #F6B26B;
}