/* Media queris */
/* Colors */
:root {
    --color-pure-white: #ffffff;
    --color-light-grey: #D6D6D6;
    --color-dark-grey: #2a2a2a;
    --color-dark-blue: #103551;
    --color-blue: #2986cc;
    --color-orange: #F6B26B;
}
:root {
}
.card-wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 16px;
    min-height: 300px;
    background-color: var(--color-pure-white);
    border-radius: 6px;
    width: 100%;
}
.card-wrapper .card-header .post-title::first-letter, .card-wrapper .card-body .post-content::first-letter {
            text-transform: capitalize;
        }
.card-wrapper .card-header .delete-wrapper {
            display: flex;
            justify-content: end;
            margin-bottom: 10px;
        }
.card-wrapper .card-header .delete-wrapper .delete::after {
                content: 'x';
                border: solid 1px var(--color-dark-grey);
                border-radius: 50px;
                padding: 6px;
                font-size: 18px;
            }
.card-wrapper .card-header .post-title {
            font-weight: 600;
            font-family: 'Poppins-600', Arial;
            font-size: 22px;
            line-height:  22px;
            letter-spacing: 0px;
            color: var(--color-dark-grey);
            margin: 0;
        }
.card-wrapper .card-body .post-content {
            font-weight: 400;
            font-family: 'Poppins-400', Arial;
            font-size: 14px;
            line-height:  22px;
            letter-spacing: 0px;
            color: var(--color-dark-grey);
        }
.card-wrapper .card-footer {
        margin-top: auto;
    }
.card-wrapper .card-footer .button-wrapper {
            display: flex;
            justify-content: space-around;
        }
.card-wrapper .card-footer .button-wrapper .card-cta-comments {
                background-color: var(--color-blue);
                padding: 8px 12px;
                border-radius: 4px;
                border: none;
                color: white;
                text-transform: uppercase;
                margin-right: 10px
            }
.card-wrapper .card-footer .button-wrapper .card-cta-edit {
                background-color: var(--color-blue);
                padding: 8px 12px;
                border-radius: 4px;
                border: none;
                color: white;
                text-transform: uppercase;
                background-color: var(--color-orange);
            }
/* COMMENTS START */
.comments-container {
    padding: 18px;
    margin: 0 10px;
    height: auto;
    width: 100%;
    background: var(--color-pure-white);
}
.comments-container .comment-wrapper {
        border-radius: 6px;
        border: none;
        background-color: rgba(214,214,214, 0.3);
        padding: 12px 24px;
        margin-bottom: 16px;
    }
.comments-container .comment-wrapper:last-child {
            margin-bottom: 0;
        }
.comments-container .comment-wrapper .comment-email {
            font-weight: 600;
            font-family: 'Poppins-600', Arial;
            font-size: 14px;
            line-height:  22px;
            letter-spacing: 0px;
            color: var();
        }
.comments-container .comment-wrapper .comment-text {
            font-weight: 400;
            font-family: 'Poppins-400', Arial;
            font-size: 14px;
            line-height:  22px;
            letter-spacing: 0px;
            margin-top: 12px;
        }
@media (min-width: 768px) {
.card-wrapper {
    min-height: 200px;
}
        .card-wrapper .card-header .post-title {
            font-weight: 600;
            font-family: 'Poppins-600', Arial;
            font-size: 18px;
            line-height:  22px;
            letter-spacing: 0px;
        }
    .card-wrapper .card-footer .button-wrapper {
        justify-content: end;
    }
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px;
    background-color: var(--color-dark-grey);
}
.header-wrapper .header-title-wrapper .title {
            font-weight: 500;
            font-family: 'Poppins-500', Arial;
            font-size: 24px;
            line-height:  22px;
            letter-spacing: 0px;
            color: var(--color-pure-white);
        }
.header-wrapper .header-buttons-wrapper {
        display: flex;
        justify-content: end;
    }
.header-wrapper .header-buttons-wrapper .create-post-cta {
            background-color: var(--color-blue);
            padding: 8px 12px;
            border-radius: 4px;
            border: none;
            color: white;
            text-transform: uppercase;
            height: 45px;
        }
.drawer-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
}
.drawer-bg.show {
        visibility: visible;
        opacity: 1;
    }
.drawer-wrapper {
    position: fixed;
    width: 90%;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.drawer-wrapper .form-container {
        padding: 20px;
        border-radius: 5px;
        position: relative;
        transition: all 5s ease-in-out;
        background-color: var(--color-light-grey);
    }
.drawer-wrapper .form-container .post-form .field-wrapper {
                display: flex;
                flex-direction: column;
                margin-bottom: 16px;
            }
.drawer-wrapper .form-container .post-form .field-wrapper .form-text {
                    font-weight: 600;
                    font-family: 'Poppins-600', Arial;
                    font-size: 18px;
                    line-height:  22px;
                    letter-spacing: 0px;
                    color: var(--color-dark-grey);
                    background: none;
                }
.drawer-wrapper .form-container .post-form .field-wrapper .form-text-input,
                .drawer-wrapper .form-container .post-form .field-wrapper .form-title-input {
                    margin-bottom: 6px;
                    padding: 16px;
                }
.drawer-wrapper .form-container .post-form .field-wrapper .form-text-input {
                    min-height: 300px;
                }
.drawer-wrapper .form-container .post-form .field-wrapper .error-message {
                    font-weight: 400;
                    font-family: 'Poppins-400', Arial;
                    font-size: 11px;
                    line-height:  10px;
                    letter-spacing: 0px;
                    color: red;
                    margin: 0;
                }
.drawer-wrapper .form-container .post-form .field-wrapper .form-submit-cta {
                    background-color: var(--color-blue);
                    padding: 8px 12px;
                    border-radius: 4px;
                    border: none;
                    color: white;
                    text-transform: uppercase;
                }
@media (min-width: 768px) {
        .drawer-wrapper .form-container .post-form .field-wrapper .form-text {
            margin-bottom: 10px;
        }
}
.pagination-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 16px 0;
}
.pagination-wrapper .page-prev,
    .pagination-wrapper .page-next {
        color: var(--color-pure-white);
        margin: 0 10px;
    }
.pagination-wrapper .page-prev.hide, .pagination-wrapper .page-next.hide {
            visibility: hidden;
            z-index: -1;
        }
.pagination-wrapper .page-prev:hover, .pagination-wrapper .page-next:hover {
            cursor: pointer;
        }
.pagination-wrapper .page-prev::before {
            content: '<';
            font-weight: 700;
            font-size: 16px;
        }
.pagination-wrapper .page-next::before {
            content: '>';
            font-weight: 700;
            font-size: 16px;
        }
.pagination-wrapper .page-separator {
        color: rgba(255, 255, 255, 0.5);
        margin: 0 10px;
    }
.pagination-wrapper .page-button {
        font-weight: 400;
        font-family: 'Poppins-400', Arial;
        font-size: 16px;
        line-height:  22px;
        letter-spacing: 0px;
        color: rgba(255, 255, 255, 0.5);
        margin: 0 10px;
        min-width: 18px;
        width: 18px;
    }
.pagination-wrapper .page-button.page-selected {
            font-weight: 700;
            color: rgba(255, 255, 255, 1);
        }
.pagination-wrapper .page-button:hover {
            cursor: pointer;
        }
.post-container {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-dark-blue);
}
.post-container.house {
        padding: 20px;
    }