.drawer-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    &.show {
        visibility: visible;
        opacity: 1;
    }
}

.drawer-wrapper {
    position: fixed;
    width: 90%;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    & .form-container {
        padding: 20px;
        border-radius: 5px;
        position: relative;
        transition: all 5s ease-in-out;
        background-color: var(--color-pure-white);
        & .form-header {
            & .close-drawer {
                text-align: end;
                & .icon {
                    font-size: 26px;
                    cursor: pointer;
                }
            }
            & .title-wrapper {
                text-align: center;
                & .form-title {
                    @mixin  style-font-poppins 700, 22px;
                    color: var(--color-black);
                }
            }
        }
        & .post-form {
            & .field-wrapper {
                display: flex;
                flex-direction: column;
                margin-bottom: 16px;
                & .form-text {
                    @mixin  style-font-poppins 600, 14px;
                    color: var(--color-grey);
                    background: none;
                    text-transform: uppercase;
                }
                & .form-text-input,
                & .form-title-input {
                    border: solid 1px var(--color-dark-grey);
                    margin-bottom: 6px;
                    padding: 16px;
                }
                & .form-text-input {
                    min-height: 300px;
                    resize: none;
                }
                & .error-message {
                    @mixin  style-font-poppins 400, 11px, 10px;
                    color: red;
                    margin: 0;
                }
            }
            & .form-footer {
                display: flex;
                justify-content: end;
                & .form-submit-cta {
                    @mixin main-button;
                }
            }
        }
    }
}
